<!--
<form action="{% url 'acc_views:add_account' users_id %}" method="post">
    {% csrf_token %}
    Is active <input type="radio" name="account" value="{{ user.id }}"><br>
    User id: <input type="number" name="user_id"><br>
    Account Type: <input type="text" name="account" value="{{ user.id }}"> <br>
    Description: <input type="text" name="account" value="{{ user.id }}"><br>
    Balance: <input type="number" name="account" value="{{ user.id }}"><br>
    Credit: <input type="number" name="account" value="{{ user.id }}"><br>
    Debit: <input type="number" name="account" value="{{ user.id }}"><br>


</form>
-->